@page "/"
@namespace NotificationCenterSample.Blazor.Server.Pages
@using System.Globalization
@using Dignite.Abp.AspNetCore.Components.Server.PureTheme.Bundling
@using Dignite.Abp.AspNetCore.Components.Web.PureTheme.Themes.Pure
@using Dignite.Abp.NotificationCenter.Blazor.Server.Bundling
@using Microsoft.AspNetCore.Components.Web
@using Volo.Abp.Localization
@{
    Layout = null;
    var rtl = CultureHelper.IsRtl ? "rtl" : string.Empty;
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name" dir="@rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NotificationCenterSample.Blazor.Server</title>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <base href="~/" />

    <abp-style-bundle name="@BlazorPureThemeBundles.Styles.Global" />
    <abp-style-bundle name="@NotificationCenterBundles.Styles.Global" />
</head>
<body class="abp-application-layout bg-light @rtl">
    <component type="typeof(App)" render-mode="Server" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <abp-script-bundle name="@BlazorPureThemeBundles.Scripts.Global" />
</body>
</html>
