@using Volo.Abp.UI.Navigation
@model ApplicationMenu
@foreach (var menuItem in Model.Items)
{
    var elementId = string.IsNullOrEmpty(menuItem.ElementId) ? string.Empty : $"id=\"{menuItem.ElementId}\"";
    var cssClass = string.IsNullOrEmpty(menuItem.CssClass) ? string.Empty : menuItem.CssClass;
    var disabled = menuItem.IsDisabled ? "disabled" : string.Empty;
    var url = string.IsNullOrEmpty(menuItem.Url) ? "#" : Url.IsLocalUrl(menuItem.Url) ? Url.Content(menuItem.Url.EnsureStartsWith('~')) : menuItem.Url;
    if (menuItem.IsLeaf)
    {
        if (menuItem.Url != null)
        {
            <li class="nav-item @cssClass @disabled" @elementId>
                <a class="nav-link" href="@url" target="@menuItem.Target">
                    @if (menuItem.Icon != null)
                    {
                        <i class="@menuItem.Icon"></i>
                    }
                    @menuItem.DisplayName
                </a>
            </li>
        }
    }
    else
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="Menu_@(menuItem.Name)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @if (menuItem.Icon != null)
                {
                    <i class="@menuItem.Icon"></i>
                }
                @menuItem.DisplayName
            </a>
            <ul class="dropdown-menu border-0 shadow-sm" aria-labelledby="Menu_@(menuItem.Name)">
                @foreach (var childMenuItem in menuItem.Items)
                {
                    var childMenuItemUrl = Url.IsLocalUrl(childMenuItem.Url) ? Url.Content(childMenuItem.Url.EnsureStartsWith('~')) : childMenuItem.Url;
                    <li>
                        <a class="dropdown-item" href="@childMenuItemUrl">
                            @if (childMenuItem.Icon != null)
                            {
                                <i class="@childMenuItem.Icon"></i>
                            }
                            @childMenuItem.DisplayName
                    </a></li>
                }
            </ul>
        </li>
    }
}
