@using Dignite.Abp.AspNetCore.Mvc.UI.Theme.Pure.Themes.Pure.Components.LanguageSwitch;
@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider

<div class="container-fluid bg-primary text-white py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 text-start text-lg-end">
                @if (!BrandingProvider.LogoReverseUrl.IsNullOrWhiteSpace())
                {
                    <img src="@BrandingProvider.LogoReverseUrl" alt="@BrandingProvider.AppName">
                }
                else
                {
                    @BrandingProvider.AppName
                }
            </div>
            <div class="col-6 text-end  text-lg-start">
                @(await Component.InvokeAsync<LanguageSwitchViewComponent>())
            </div>
        </div>
        
        <hr />
        <div class="d-flex flex-column flex-md-row">
            <ul class="list-inline">
                <li class="list-inline-item">Copyright©@DateTime.Now.Year</li>
                <li class="list-inline-item">@BrandingProvider.AppName Co., Ltd.</li>
            </ul>
            <ul class="list-inline ms-md-auto">
                <li class="list-inline-item">Web Design By <a href="http://dignite.com" class="text-reset underline-animate underline-animate-white">Dignite</a></li>
            </ul>
        </div>
    </div>
</div>