@using Volo.Abp.AspNetCore.Components
@inherits AbpComponentBase
<Button Color="Color.Primary" Clicked="OpenFileExplorerModalAsync">@L["SelectFile"]</Button>

@if (FileDescriptors != null && FileDescriptors.Any())
{
    <Table>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>@L["FileName"]</TableHeaderCell>
                <TableHeaderCell>@L["Size"]</TableHeaderCell>
                <TableHeaderCell></TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var item in FileDescriptors)
            {
                <TableRow>
                    <TableRowCell>@item.Name</TableRowCell>
                    <TableRowCell>@item.Size</TableRowCell>
                    <TableRowCell>
                        <Button Color="Color.Primary" Clicked="@(() => { FileDescriptors.RemoveAll(fd => fd.Id == item.Id); })"><Icon Name="@IconName.Delete"></Icon></Button>
                    </TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
}

<FileExplorerModal @ref="_fileExplorerModal" Multiple="@Multiple" SelectFiles="SelectFilesAsync"></FileExplorerModal>
