@using Dignite.Abp.DynamicForms.NumericEdit
@inherits ConfigurationComponentBase<NumericEditFormProvider,NumericEditConfiguration>

<Validation>
    <Field>
        <FieldLabel>@L["FieldDisplayName"]</FieldLabel>
        <TextEdit @bind-Text="@Field.DisplayName" />
    </Field>
</Validation>
<Validation>
    <Field>
        <FieldLabel>@L["FieldName"]</FieldLabel>
        <TextEdit MaxLength="64" @bind-Text="@Field.Name" />
    </Field>
</Validation>

<Validation>
    <Field>
        <FieldLabel>@L["Description"]</FieldLabel>
        <TextEdit @bind-Text="@FormConfiguration.Description" />
    </Field>
</Validation>
<Field>
    <Check TValue="bool" @bind-Checked="@FormConfiguration.Required">@L["IsRequired"]</Check>
</Field>
<Field>
    <FieldLabel>@L["Max"]</FieldLabel>
    <NumericEdit TValue="decimal?"  @bind-Value="@FormConfiguration.Max" />
</Field>
<Field>
    <FieldLabel>@L["Min"]</FieldLabel>
    <NumericEdit TValue="decimal?"  @bind-Value="@FormConfiguration.Min" />
</Field>
<Field>
    <FieldLabel>@L["NumericDecimals"]</FieldLabel>
    <NumericEdit TValue="int"  @bind-Value="@FormConfiguration.Decimals" />
</Field>
<Field>
    <FieldLabel>@L["NumericStep"]</FieldLabel>
    <NumericEdit TValue="decimal?"  @bind-Value="@FormConfiguration.Step" />    
    <FieldHelp>
        微调器按钮递增或递减值
    </FieldHelp>
</Field>

<Field>
    <FieldLabel>@L["FormatSpecifier"]</FieldLabel>
    <TextEdit MaxLength="8" @bind-Text="@FormConfiguration.FormatSpecifier">
        <FieldHelp>
            参见:<a href="https://docs.microsoft.com/zh-cn/dotnet/standard/base-types/standard-numeric-format-strings#standard-format-specifiers" target="_blank">https://docs.microsoft.com/zh-cn/dotnet/standard/base-types/standard-numeric-format-strings</a>
        </FieldHelp>
    </TextEdit>
</Field>

